body{
    background: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: bgFadeIn 1.5s ease;
}

svg{
    max-width: 700px;
}

#text{
    fill: #f0b050;
    stroke: #1f024f;
    stroke-width: 1;
    font-size: 100px;
    font-family: 'Bruno Ace SC', sans-serif;
    font-weight: bolder;
}

@keyframes bgFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}